.heading {
  font-size: 36px;
  font-weight: bold;
}
/* styles for the container */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

/* styles for the heading */
.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* styles for the unordered list */
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* styles for each list item */
.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

/* styles for the image */
.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  mix-blend-mode: multiply;
}

/* styles for the pokemon name and number */
.name,.number {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}

/* styles for the pokemon type */
.type {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
}
